<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- site metas -->
    <title>Zon</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- style css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <!-- fevicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- body -->

<body class="main-layout inner_page">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="{{ url_for('static', filename='images/loading.gif') }}" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <div class="header">
        <div class="container-fluid">
            <div class="row d_flex">
                <div class="col-xl-1 col-lg-3 col-sm-2 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <a href="../templates/index.html">Zon</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-9 col-md-10 col-sm-12">
                    <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                     </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('service') }}">Uploads</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('service2') }}">Service</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('testimonial') }}">Testimonial</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('blog') }}">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="background: transparent" href="Javascript:void(0)">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-md-4 re_no">
                    <ul class="infomaco">
                        <li><i class="fa fa-phone" aria-hidden="true"></i> 7010214612</li>
                        <li><a href="Javascript:void(0)"><i class="fa fa-envelope-o" aria-hidden="true"></i> foodvisionary@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end header inner -->
    <!-- end header -->
    <!-- blog -->
    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center">
                        <h2>Our <span class="blue whitebg">blogs</span></h2>
                        <p>Food recognition is a vital aspect of modern technology, enhancing dietary analysis and health monitoring. Through advanced algorithms, we identify food items, facilitating nutrition tracking and fostering healthier lifestyles.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="blog-box">
                        <figure>
                            <img src="../static/images/burger.png.png" alt="#" />
                            <div class="date">
                                <h3>07-01-2024</h3>
                            </div>
                        </figure>
                        <div class="blog_text">
                            <h3>Burger</h3>
                            <div class="comment">
                                <a href="Javascript:void(0)"><i class="fa fa-heart-o" aria-hidden="true"></i> Like</a>
                                <a href="Javascript:void(0)"><i class="fa fa-comment-o" aria-hidden="true"></i> comment</a>
                            </div>
                            <p>A typical hamburger ranges from 250-350 calories, while a cheeseburger can be around 300-400 calories. Ingredients often include a beef patty, bun, condiments like ketchup and mustard, toppings like lettuce and tomato, and
                                cheese.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="blog-box">
                        <figure>
                            <img src="../static/images/vegetable.png.png" alt="#" />
                            <div class="date">
                                <h3>07-01-2024</h3>
                            </div>
                        </figure>
                        <div class="blog_text">
                            <h3>Vegetable</h3>
                            <div class="comment">
                                <a href="Javascript:void(0)"><i class="fa fa-heart-o" aria-hidden="true"></i> Like</a>
                                <a href="Javascript:void(0)"><i class="fa fa-comment-o" aria-hidden="true"></i> comment</a>
                            </div>
                            <p>Vegetables are low in calories and high in nutrients. A typical serving of mixed vegetables contains around 50-100 calories. Common vegetables include broccoli, carrots, spinach, and bell peppers, providing essential vitamins,
                                minerals, and fiber for a healthy diet.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end blog -->
        <!--  footer -->
        <footer>
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="logo_bottom" href="index.html">Zon</a>
                        </div>
                        <div class="col-md-12">
                            <form class="form_subscri">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="subsrib" placeholder="Enter your email" type="text" name="Enter your email">
                                    </div>
                                    <div class="col-md-12">
                                        <button class="subsci_btn">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-9 col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="infoma text_align_left">
                                        <h3>Menu</h3>
                                        <ul class="menu_bottom">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About </a></li>
                                            <li><a href="service.html">Coffee Service</a></li>
                                            <li><a href="testimonial.html">Testimonial</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="contact.html">Contact us</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="infoma text_align_left">
                                        <h3>Coffee</h3>
                                        <ul class="menu_bottom">
                                            <li><a href="Javascript:void(0)">Black Coffee</a></li>
                                            <li><a href="Javascript:void(0)">Read Coffee </a></li>
                                            <li><a href="Javascript:void(0)">Coffee Service</a></li>
                                            <li><a href="Javascript:void(0)">Green Tea</a></li>
                                            <li><a href="Javascript:void(0)">Chocolate Coffee</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="infoma">
                                <h3>Follow Us</h3>
                                <ul class="social_icon">
                                    <li><a href="Javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="Javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="Javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="Javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="Javascript:void(0)"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                </ul>
                                <ul class="conta">
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Locations
                                    </li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i>Call +01 1234567890</li>
                                    <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="Javascript:void(0)"> demo@gmail.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <p>© 2020 All Rights Reserved. <a href="https://html.design/"> Free html Templates</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--<!-- end footer -->
        <!-- Javascript files-->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
        <!-- sidebar -->
        <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
        <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
        <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
        <script src="https://mediafiles.botpress.cloud/fed83b9d-7486-4344-ba96-8b4c2145173a/webchat/config.js" defer></script>
</body>

</html>